{% for sound in sounds %}
<div>
    {% if showAuthorReference %}
        <div style="float: left; overflow: hidden; position: relative; left: 0; top: 0;">
            <img class="circular-avatar-small" style="position: relative; top: 0px; left: 0px;" alt="avatar" src="{{ sound.user.getProfileImageUrl }}"/>
        </div>
    {% endif %}
    <p><span class="glyphicon glyphicon-music"></span> <a href='/user/sound/{{ sound.id }}'>{{ sound.title }}</a></p>
    {% if showAuthorReference %}
        <p><span class="glyphicon glyphicon-user"></span> <a href="/user/{{ sound.user.id}}">{{ sound.user.alias }}</a></p>
    {% endif %}
    <p><span class="glyphicon glyphicon-calendar"></span> Upload date: {{ sound.getCreatedDateTime|date("d F Y") }}</p>
    {% if (sound.processing == true) and (showSoundProcessing) %}
        <p><span class="glyphicon glyphicon-cog"></span> Processing</p>
    {% endif %}

    <audio controls preload="none">
        {% if sound.isPresentMp3 %}
            <source src="/public/sound/sound_{{ sound.id }}.mp3" type="audio/mpeg"></source>
        {% endif %}
        {% if sound.isPresentOgg %}
            <source src="/public/sound/sound_{{ sound.id }}.ogg" type="audio/ogg"></source>
        {% endif %}
    </audio>
    <div style="clear: both;"></div>
</div>
<hr />
{% endfor %}
