<div style="float: left; overflow: hidden; position: relative; left: 0; top: 0;">
    <img class="background-picture " style="position: relative; top: 0; left: 0;" alt="cover picture" src="{{ user.getCoverImageUrl }}"/>
    <img class="circular-avatar" style="position: absolute; top: 30px; left: 70px;" alt="avatar" src="{{ user.getProfileImageUrl }}"/>
</div>
<div style="clear: both;"></div>
<h3>{{ user.alias }}</h3>
<p>Member since: {{ user.getRegisteredDateTime|date("d F Y") }}</p>
<p>Last seen: {{ user.getLoginDateTime|date("d F Y") }}</p>


<h3>Sounds:</h2>
{{ renderedSounds|raw }}

<h3>Comments:</h2>
{{ renderedComments|raw }}
